@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

// Colors
$primary-color: rgba(18, 22, 24, 1);
$yellow-light-color: rgba(248, 197, 100, 1);
$gray-color: rgba(128, 128, 128, 1);
$succes-color: rgb(0, 110, 62);
$danger-color: rgb(172, 0, 0);

// Fonts
$Open-Sans: 'Open Sans', sans-serif;


