nav {
    background-color: $primary-color;
    height: auto;
    color: white;

    .container {
        color: white;
        display: flex;
        justify-content:space-between;
        width: 100%;
        align-items: center;
        height: 100%;
    
        .navbar-brand {
            margin-top: 10px;
            margin-left: 10px;

            .brand__container {
                @include flex($direction: row);
                text-align: center;

                svg {
                    width: 20px;
                    height: 20px;
                    color: $yellow-light-color;
                    rotate: 285deg;
                    margin: 2px;
                    padding: 0 0 5px 0;
                }

                p {
                    margin: 0 5px;
                    color: white;
                    @include openSansBold(1.6);
                }
            }
            
            p {
                color: $yellow-light-color;
                @include openSans(1.6);
                text-align: center;
            }
        }

        .navbar-toggler {
            &-icon {
                color: white;
            }
        }

        .navbar-collapse {
            text-align: end;
            justify-content: flex-end;
            margin: auto;

            .navbar-nav {
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: 100%;
                text-align: center;
                flex-direction: row;
                .nav-link {
                    color: white;
                }

                .nav-link.languages > img{
                    width: 20px;
                    height: 20px;
                    margin: 0 5px;
                }
            }
        }
    }
}
