#services_section {
    @include flex($direction: row, $height: 150px);

    .contact {
        width: 75%;
        background-color: black;
        padding: 20px 0;
        @include flex($direction: row);
        padding-left: 100px;

        #services_component {
            background-color: black;
            height: auto;
            @include flex($direction: row);
            width: 20%;
        
            .card {
                background-color: black;
                width: 100%;
                @include flex($direction: column);
                margin: 10px 0;

                .icon__container {
                    &-image {
                        width: 30px;
                        height: 30px;
                        color: $yellow-light-color;
                        margin: 5px 0;
                    }    
                }

                .title__container {
                    .title {  
                        color: white;
                        @include openSansBold($size: 1.2);
                        margin: 5px 0;
                    }
                }

                .text__container {
                    .text{
                        color: $gray-color;
                        margin: 3px 0;
                    }
                }
            }
        }        
    }

    .social {
        background-color: $yellow-light-color;
        @include flex($width: 25%);
        transition: .5s;

        &__container {
            @include flex();
            
            .box-icon {
                .icon__item {
                    color: rgb(0, 0, 0);
                    margin: 20px;
                    height: 30px;
                    width: 30px;
                    font-size: 25px;
                    cursor: pointer;
                }
            }
        }
    }
}

#ourServices_section {
    @include flex($direction: column, $height: auto);
    padding: 30px 0;
    background-image: url('../assets/food.png');
    background-repeat: repeat;
    background-attachment: fixed;
    text-align: center;

    h1 {
        @include openSansBold(3.5);
    }

    .title__description {
        margin: 20px 0 0 0;
        width: 70%;
        text-align: center;
        @include openSansBold(2);
    }

    .contact {
        padding: 20px 0;
        @include flex($direction: row);

        #services_component {
            @include flex($direction: row, $height: auto, $width: 25%);
            margin: 0 20px;

            .card {
                background-color: transparent;
                width: 100%;
                border: none;
                @include flex($direction: column);
                margin: 10px 0;

                .icon__container {
    
                    &-image {
                        width: 30px;
                        height: 30px;
                        color: black;
                        margin: 5px 0;
                        padding: 20px;
                        border: 1px solid black;
                        border-radius: 4px;
                        -webkit-box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.75);
                        -moz-box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.75);
                        box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.75);
                    }
                }

                .title__container {
                    .title {  
                        color: rgb(146, 141, 2);
                        @include openSansBold($size: 1.2);
                        margin: 5px 0;
                    }
                }

                .text__container {
                    .text{
                        color: $gray-color;
                        margin: 3px 0;
                    }
                }
            }
        }        
    }
}

#stadistics_section {
    position: relative;

    .image_stadistic-section {
        background-image: url('../assets/bg_2.jpg');
        opacity: 1;
        filter: grayscale(0.7);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        @include flex($direction: column, $height: 400px);
        text-align: center;
    }

    .contact {
        @include flex($direction: row);
        position: absolute;
        top: 0;
        left: 0;

        #services_component {
            @include flex($direction: row, $height: auto, $width: 25%);
            margin: 0 20px;

            .card {
                background-color: transparent;
                width: 100%;
                border: none;
                @include flex($direction: column);
                margin: 10px 0;

                .icon__container {
                    &-image {
                        width: 30px;
                        height: 30px;
                        color: $yellow-light-color;
                        margin: 5px 0;
                        padding: 20px;
                        border: 1px solid $yellow-light-color;
                        border-radius: 4px;
                        -webkit-box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.75);
                        -moz-box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.75);
                        box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.75);
                        background-color: rgba(0, 0, 0, 0.558);
                    }

                    :hover {
                        width: 40px;
                        height: 40px;
                        background: #f8b500;
                        cursor: grab;
                    }
                }


                .counter {
                    color: $yellow-light-color;
                    @include openSansBold(3);
                    -webkit-text-stroke: .5px black;
                }

                .text__container {
                    .text{
                        color: $yellow-light-color;
                        margin: 3px 0;
                        @include openSansBold(2);
                        -webkit-text-stroke: .5px black;
                    }
                }
            }
        }        
    }
}

@media screen and (max-width: 1500px) {
    #services_section {
        .contact {
            padding-left: 50px;

            #services_component {
                width: 30%;
            }
        }      
    }
}

@media screen and (max-width: 900px) {
    #services_section {
        @include flex($direction: column, $height: 300px);

        .contact {
            width: 100%;
            padding-left: 0;
            text-align: center;
    
            #services_component {
                @include flex($direction: row, $height: 130px);
                width: 30%;
                
                .card {
                    background-color: black;
                    width: 100%;
                    @include flex($direction: column, $height: 150px);
    
                    .icon__container {
                        @include flex($height: 33%);
                        padding-bottom: 30px;

                        &-image {
                            width: 30px;
                            height: 30px;
                            color: $yellow-light-color;
                            margin: 5px 0;
                        }    
                    }
    
                    .title__container {
                        @include flex($height: 33%);

                        .title {  
                            color: white;
                            @include openSansBold($size: 1.2);
                            margin: 5px 0;
                        }
                    }
    
                    .text__container {
                        @include flex($height: 33%);

                        .text{
                            color: $gray-color;
                            margin: 3px 0;
                        }
                    }
                }   
            }        
        }
    
        .social {
            @include flex($height: 70px);
            transition: .5s;
    
            &__container {
                @include flex();
                padding: 15px 0;

                .box-icon {
                    .icon__item {
                        color: rgb(0, 0, 0);
                        margin: 20px 30px;
                        height: 30px;
                        width: 30px;
                        font-size: 25px;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    #ourServices_section {
        @include flex($direction: column, $height: auto);
    
        h1 {
            @include openSansBold(3.2);
        }
    
        .title__description {
            width: 80%;
            @include openSansBold(1.5);
        }
    
        .contact {
            @include flex($direction: column);
    
            #services_component {
                @include flex($direction: row, $height: auto, $width: 90%);
            }        
        }
    }

    #stadistics_section {
        position: relative;
        
        .image_stadistic-section {
            @include flex($direction: column, $height: 400px);
            text-align: center;
        }
    
        .contact {
            @include flex($direction: row);
            flex-wrap: wrap;

            #services_component {
                @include flex($direction: row, $width: 30%, $height: auto);
                text-align: center;
            }        
        }
    }
}