@import './constants';
@import './mixins';
@import './login';
@import './header';
@import './services';
@import './navbar';
@import './lowSections';
@import './cardPizza';


// Seteamos atributos globales
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $Open-Sans;
    transition: 1s;
    font-size: 1.2rem;
}

// Definimos el rem global
html {
    font-size: 62.5%;
    scroll-padding-top: 88px; // Controlo el height del navbar sticky
}